@use '../../styles/mixins' as *;
@use '../../styles/colors.module' as *;

.container {
  padding: 100px 0 50px;

  background-color: $gray200;

  .textWrapper {
    display: flex;
    flex-direction: column;

    justify-content: center;

    color: $black;

    text-align: center;

    margin-bottom: 40px;

    .title {
      white-space: nowrap;

    }

    .subtitle {
      color: $gray800;

      text-align: justify;

      font-size: 1.2rem;

      margin-bottom: 50px;
    }
  }

  .saibaMais {
    margin: 75px 0 0 auto;
  }
}

@include from1024 {
  .container {
    .textWrapper {
      .title {
        font-size: 3.6rem;

        margin: 0 0 45px;
      }

      .subtitle {
        text-align: start;
        font-size: 1.4rem;
      }
    }
  }
}
