html,
 
body {
  width: 100%;
  overflow-x: hidden;

  font-family: Montserrat,icomoon,sans-serif,Arial,Helvetica;

  font-style: normal;
  text-rendering: optimizeLegibility;
  font-feature-settings: normal;
  font-variant: normal;

  margin: 0;
  padding: 0;

  position: relative;
}
