.container {
  max-height: none;

  &.open {
    max-height: 100vh;
    overflow: auto;
  }

  .banner {

    min-height: 100vh;

    background-image: url('../images/placas.jpg');

    background-position: center;

  }
}
