.container {
  max-height: none;

  &.open {
    max-height: 100vh;
    overflow: auto;
  }

  .banner {
    height: 637px;

    background-image: url('../images/placas.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
