@use '../../styles/mixins' as *;
@use '../../styles/colors.module' as *;

.logo {
  width: 85px;

  cursor: pointer;
}

.container {
  width: 100vw;

  position: fixed;

  z-index: 1000;

  background-color: #000;

  transition: all 0.2s ease-in-out;
  
  .content {
    width: 100%;

    width: 87%;
    max-width: 1200px;
    height: 80px;

    display: flex;

    align-items: center;
    justify-content: space-between;
    
    margin: 0 auto;

    .button {
      width: 40px;
      height: 40px;

      display: inline-flex;

      align-items: center;
      justify-content: center;

      color: #999;

      border: 0;

      background: none;

      cursor: pointer;

      &:focus {
        outline: 0;
      }

      &:hover {
        color: #666;
      }
      
      .hamburger {
        width: 28px;
      }
    }
  }
}

.drawerContainer {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  right: -100vw;

  z-index: 1001;
  
  background-color: #000;

  transition: right 0.5s;

  &.open {
    right: 0;
  }

  .drawerContent {
    width: 87%;
    max-width: 1200px;
    height: 72px;

    margin: 0 auto;

    .drawerTopWrapper {
      width: 100%;

      display: flex;

      align-items: center;

      justify-content: space-between;

      padding: 25px 0 80px;

      .exitButton {
        border: 0;
        
        background-color: transparent;
        
        cursor: pointer;
      }
    }

    .itemListWrapper {
      display: block;

      .listItem {
        margin-bottom: 50px;

        .listText {
          color: #fff;
          font-size: 1.6rem;
          font-weight: 500;
          text-transform: uppercase;
          
          letter-spacing: 2px;

          text-decoration: none;
        }
      }
    }
  }
}

@include from1024 {
  .container {
    .content {
      .headerItem {
        color: #fff;
        font-size: 0.8rem;
        font-weight: 500;
        
        letter-spacing: 2px;

        text-decoration: none;

        margin-right: 40px;
      }
    }
  }
}
