@use '../../styles/mixins' as *;
@use '../../styles/colors.module' as *;

.container {
  padding: 85px 0 35px;

  background-color: $gray700;

  .content {
    .itemListWrapper {
      display: block;
      
      .listItem {
        margin-bottom: 50px;

        &.faleConosco {
          display: flex;
          flex-direction: column;

          .contactBorder {
            display: flex;
            flex-direction: column;

            margin: 25px 0 0 25px;

            padding: 15px 0 0 25px;

            border-left: solid;

            border-color: $gray500;

            border-width: 2px;

            .contact {
              color: $gray500;
              font-size: 18px;
              
              font-weight: normal;
              line-height: 24px;
              

              letter-spacing: 1px;

              margin-bottom: 21px;
            }
          }
        }
        
        .listText {
          color: #fff;
          font-size: 1.6rem;
          font-weight: 500;
          text-transform: uppercase;
          
          letter-spacing: 2px;
          
          text-decoration: none;
        }
      }
    }

    .logo {
      max-width: 100%;

      margin: 50px 0 25px;
    }
  }
}
