@use 'src/styles/mixins' as *;
@use 'src/styles/colors.module' as *;

.section {
  .container {
    width: 87%;
    max-width: 1200px;
    
    margin: 0 auto;

    &.fullwidth {
      width: 100%;
    }
  }
}
