@use '../../styles/mixins' as *;
@use '../../styles/colors.module' as *;

.container {
  margin-top: 72px;

  padding: 100px 0 90px;

  background-color: $black;

  .content {
    display: flex;

    flex-direction: column;

    color: $white;

    .textWrapper {
      display: flex;
      flex-direction: column;

      justify-content: center;

      text-align: center;

      margin-bottom: 50px;
      
      .subtitle {
        color: $gray300;
        font-size: 1.2rem;

      }
    }

    .sliderWrapper {
      .slide {
        max-width: 50%;
        max-height: 100vw;

        background-size: cover;

        .slideImage {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}

@include from1024 {
  .container {
    .content {
      flex-direction: row;

      .textWrapper {
        justify-content: flex-start;

        text-align: start;

        margin-right: 50px;

        .title {
          font-size: 3.6rem;

          margin: 0 0 45px;
        }

        .subtitle {
          font-size: 1.4rem;
        }
      }

      .sliderWrapper {
        max-width: 58%;
      }
    }
  }
}
