@use '../../styles/mixins' as *;
@use '../../styles/colors.module' as *;

.backgroundPhoto {
  min-height: 100%;

  position: relative;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  opacity: 0.65;
}

.container {
  background-color: $black;

  .content {
    width: 87%;

    display: flex;

    flex-direction: column;

    color: $gray200;

    margin: 0 auto;

    padding: 50px 0;

    .textWrapper {
      display: flex;
      flex-direction: column;

      justify-content: center;

      text-align: center;

      margin-bottom: 50px;
      
      .subtitle {
        color: $gray300;
        font-size: 1.2rem;

      }
    }

    .saibaMais {
      margin: 75px 0 0 auto;
    }

    .sliderWrapper {
      .slide {
        max-width: 50%;
        max-height: 100vw;

        background-size: cover;

        .slideImage {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}

@include from1024 {
  .container {
    .content {
      flex-direction: row;

      .saibaMais {
        margin: 75px 0 0;
      }

      .textWrapper {
        justify-content: flex-start;

        text-align: start;

        margin-right: 50px;

        .title {
          font-size: 3.6rem;

          margin: 0 0 45px;
        }

        .subtitle {
          font-size: 1.4rem;
        }
      }

      .sliderWrapper {
        max-width: 58%;
      }
    }
  }
}
