@use '../../styles/mixins' as *;
@use '../../styles/colors.module' as *;

.container {
  margin-top: 72px;

  padding: 100px 0 90px;

  background-color: $black;

  .content {
    color: $white;

    .textWrapper {
      display: flex;
      flex-direction: column;

      justify-content: center;

      text-align: center;

      margin-bottom: 50px;
      
      .subtitle {
        font-size: 1.2rem;
      }
    }

    .sliderWrapper {
      .slide {
        max-width: 50%;
        max-height: 100vw;

        background-size: cover;

        .slideImage {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}
