@use '../../styles/mixins' as *;
@use '../../styles/colors.module' as *;

.container {
  max-width: fit-content;

  font-size: 2.4rem;

  margin: 0 auto 30px;

  .underline {
    max-width: 30px;
    
    border-bottom: 5px solid;

    &.logoGreen {
      border-color: $logoGreen;
    }

    &.logoYellow {
      border-color: $logoYellow;
    }
  }
}

@include from1024 {
  .container {
    .underline {
      max-width: 70px;
    }
  }
}

